#app {
    font-family: 'Josefin Sans', sans-serif;
}


.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    width: 50%;
    background-color: #89F7FB;
    border-color: #89F7FB;

}

.badge-success {
    background-color: #89F7FB;
}

.card-img-top {

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-product {
    border-radius: 15px;
}